@import url('https://fonts.googleapis.com/css?family=Arizonia');
body{margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: #252525;
    scroll-behavior: smooth;
}
h1{
    font-size: 32px;
}
h2{
    text-align: center;
    font-size: 30px;
    text-shadow: 0 0 5px white;
}
p{
    line-height: 22px;
    word-spacing: 3px;
}
.clear{clear: both;}
header{
    background-color: #1e293d;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px black;
}
.logo{
    font-family: 'Arizonia', cursive;
    color: white;
    font-size: 45px;
    float: left;
    display: block;
    margin-left: 60px;
}
.logo a{
    text-decoration: none;color: white;font-weight: 400;
}
nav{
    float: right;
    margin-right: 60px;
}
nav ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}
nav ul li a{
    display: inline-block;
    padding: 5px 18px;
    text-decoration: none;
    color: #ffffff;
}
.profile-img{
    width: 400px;
    height: 405px;
    overflow: hidden;
    margin: 60px;
    /*border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;*/
    border-radius: 50%;
    float: left;
    border: 4px solid white;
    box-shadow: 0 0 15px black;
}
.profile-img img{
    width: inherit;
    height: inherit;
    transition: all 2s;
}
.profile-img img:hover{
    transform: scale(1.2,1.2);
    cursor: pointer;
}
.about-sec{
    background: rgba(0, 0, 0, .75) url(../img/bg-lappy.jpg) no-repeat fixed top;
    overflow: hidden;
}
.about-sec aside{
    float: left;
    width: 50%;
    margin-top: 60px;
}
.about-sec aside span{
    background-color: antiquewhite;
}
.about-sec a{
    text-decoration: none;
    padding: 14px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.4s;
}
.cont-btn{
    color: #787e8a;
    border: 2px solid #787e8a;
    background-color: #ffffff;
}
.cont-down-btn{
    background-color:#787e8a;
    color: #ffffff;
    border: 2px solid #ffffff;
    margin-left: 7px; 
}
.cont-down-btn:hover{
    color: #1e293d98;
    border: 2px solid #1e293d99;
    background-color: #ffffffe6;
}
.project-sec{
    margin: 60px;
}
.project-sec .proj-gal{
    width: 30.3%;
    float: left;
    border: 2px solid #787e8a;
    -webkit-border: 2px solid #787e8a;
    border-radius: 15px;
    padding: 10px;
    margin: 0.5%;
}
.img-zoom{
    overflow: hidden;
    border-radius: 15px;
}
.img-zoom img{
    width: 100%;
    height: 200px;
    margin: auto;
    transition: all 2s;
}
.img-zoom img:hover{
    transform: scale(1.3,1.3);
}
.proj-gal{
    transition: all 2s;
}
.proj-gal:hover{
    box-shadow: 0 0 15px black;
    cursor: pointer;
}
.proj-gal h3{
    text-align: center; 
    text-transform: lowercase;
}
.proj-gal h3 a{
    text-decoration: none;
}
.skill-sec{
    margin: 60px 0 0;
    padding: 30px;
    background: #ffffff url(../img/bg-paint.jpg) no-repeat top left fixed;
    overflow: hidden;
    background-size: cover;
}
.skill-sec.h2{
    color:#fff;
}
.skill-left{
    width: 70%;
    text-align: center;
    margin: auto;
/*     width: 35%;
    float: left; */
}
.skill-left ul li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    padding: 10px 15px;
    margin: 5px;
/*     list-style: none;
    display: block;
    font-size: 20px;
    padding: 5px 7px;
    width: 100%;
    margin: 5px 0; */
}
.skill-left ul li:nth-child(odd){
    background-color: #ffffff;
}
.skill-left ul li:nth-child(even){
    background-color: #d6fafa;
}
.skill-left ul li:hover{
    background-color: #c2d85c;
    cursor: text;
}
.skill-right{
    float: right;
    width: 50%;
    font-size: 100px;
}
.cont{
    background-color: antiquewhite;
    padding: 30px 60px;
    overflow: hidden;
}
.cont-left{
    width: 48%;
    float: left;
}
.cont-right{
    width: 45%;
    float: left;
    margin: 0 0 0 50px;
}
.cont-right .frm-in{
    width: 50%;
    float: left;
}
.cont-right .frm-in input[type='text'],input[type='email']{
    width: 90%;
    display: block;
    margin: 5px;
    height: 25px;
}
.cont-right label{
    margin: 5px;
    display: block;
}
.cont-right .frm-msg textarea{
    width: 95%;
    margin: 5px;
    height: 100px;
}
.tel-email a{
    text-decoration: none;
    color: inherit;
}
.tel-email a:hover{
    color: #20739b;
}
.cont-right .frm-msg input[type='reset'], input[type='submit']{
    margin:5px;
    padding: 14px 30px;
    border-radius: 30px;
    cursor: pointer;
}
.cont-right .frm-msg input[type='reset']{
    color: #787e8a;
    border: 2px solid #787e8a;
    background-color: #ffffff;
}
.cont-right .frm-msg input[type='submit']{
    background-color:#787e8a;
    color: #ffffff;
    border: 2px solid #ffffff;
    margin-left: 7px;
}
input[type='text'], input[type='email'], textarea{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    transition: all .5s;
    resize: none;
}
input[type='text']:hover, input[type='email']:hover, textarea:hover,
input[type='text']:focus, input[type='email']:focus, textarea:focus{
    background-color: antiquewhite;
    border: 3px solid #ffffff;
    box-shadow: 0 0 10px black;
}

.cont-left table td{
    padding: 5px;
}
footer{
    text-align: center;
}
/*
.popup-contact{
    position: fixed;
    background: rgba(0, 0, 0, .75);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opasity 500ms;
}
.popup{
    background-color: #ffffff;
    margin: 70px auto;
    width: 50%;
    position: relative;
    padding: 20px;
    border-radius: 10px;
}
*/
nav label{
    color: #fff;
    font-size: 31px;
    padding: 2px;
    cursor: pointer;
    display: none;
}
nav input{
    display: none;
}
.social a{
    text-decoration: none;
    color: gray;
    margin: 10px;
}
.fa-facebook-f:hover{
    color: #3b5998;
    transform: rotate(360deg);
    transition: all 0.8s;
}
.fa-linkedin-in:hover{
color: #007bb6;
transform: rotate(360deg);
    transition: all 0.8s;
}
.fa-rss:hover{
    color: #fb8f3d;
    transform: rotate(360deg);
    transition: all 0.8s;
}
.fa-instagram:hover{
    color: #bc2a8d;
    transform: rotate(360deg);
    transition: all 0.8s;
}
.fa-github:hover{
    color: #ad5c51;
    transform: rotate(360deg);
    transition: all 0.8s;
}
.fa-angular{
    color:#dd1b16;}
.fa-html5{
color: #dc4a25;
}
.fa-css3-alt{
    color: #009ce2;
}
.fa-code{
    color: #5f4699;
}
.fa-wordpress{
    color: #20739b;
}
.fa-paint-brush{
    color: #efb41f;
}

#scrollBtn{
    position: fixed;
    z-index: 99;
    bottom: 0;
    margin: 5px;
    cursor: pointer;
    right: 0;
    font-size: 40px;
    color: #1e293d;
}
/* =========== Media Query ============= */

@media screen and (min-width: 280px) and (max-width: 575px) {
    nav label{
        display: block;
        float: right;
        width: 12%;
        padding: 10px;
        position: absolute;
        top: 0;
        right: 0;
    }
    nav ul{
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #32415c80;
        display: none;
    }
    nav ul li a{
        display: block;
        padding: 10px;
    }
    nav ul li a:hover{
        background-color: #ad5c51;
    }
    .m-nav{  
        transition: all 1s;
    }
    #tuggle:checked + .m-nav{
        display: block;
    }
    nav{
        margin: 0;
        width: 100%;
    }
    
    .logo{
        padding: 10px;
        margin: auto;
        font-size: 28px;
    }
    
    header{
        padding: 0;
    }
    .about-sec a{
        text-decoration: none;
        padding: 10px 18px;
        border-radius: 30px;
        display: inline-block;
        transition: all 0.4s;
    }
    .cont-btn {
        color: #1e293d99;
        border: 2px solid #1e293d99;
        background-color: #ffffffe6;
    }
    .cont-down-btn {
        background-color: #1e293d99;
        color: #ffffff;
        border: 2px solid #ffffff;
        margin-left: 7px;
    }
    
    .profile-img{
        width: 300px;
        margin: 15px auto;
        display: block;
        float: none;
        height: 300px;
    }
    .about-sec aside{
        width: 90%;
    margin: 10px auto;
    float: none;
}
.project-sec {
    margin: 10px;
}
.project-sec .proj-gal{
    width: 90%;
    float: none;
    margin: 15px auto;
}
.skill-sec{
    margin: auto;
}
.skill-sec h2{
    color: #fff;
}
.skill-left ul{
    padding: 0;
}
.skill-left{
    width: 95%;
    margin: auto;
}
.skill-right{
    width: 95%;
    margin: auto;
}
.cont{
    padding: 20px;
}
.cont-left{
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 2px solid #8a2be233;
    margin-bottom: 30px;
}
.cont-right{
    width: 100%;
    margin: auto;
}
}

@media screen and (min-width:575px) and (max-width:768px) {
    nav label{
        display: block;
        float: right;
        width: 12%;
        padding: 10px;
        position: absolute;
        top: 0;
        right: 0;
    }
    nav ul{
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #32415c80;
        display: none;
    }
    nav ul li a{
        display: block;
        padding: 10px;
    }
    nav ul li a:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
    .m-nav{  
        transition: all 1s;
    }
    #tuggle:checked + .m-nav{
        display: block;
    }
    nav{
        margin: 0;
        width: 100%;
    }
    .profile-img{
        width: 200px;
        height: 200px;
        margin: 20px auto;
        float: none;
        border-radius: 50%;
    }
    .about-sec aside {
        float: left;
        width: 95%;
        padding: 20px;
        margin-top: 0;
    }
    .project-sec {
        margin: 20px;
    }
    .project-sec .proj-gal {
        width: 44%;
    }
    .skill-sec {
        margin: 20px 0 0;
        padding: 10px;
    }
    .skill-sec h2{
        color: #fff;
    }
    .cont {
        padding: 20px;    
    }
    .cont-left {
        width: 100%;
        padding-bottom: 49px;
    }
    .cont-right {
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 769px) and (max-width:1200px){
    .profile-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 30px;
    }
    .about-sec aside{
        width: 60%;
        margin: 20px auto;
    }
    .logo{
        margin-left: 20px;
        font-size: 30px;
    }
    nav{
        margin: 0;
    }
    .project-sec {
        margin: 20px;
    }
    .project-sec .proj-gal {
        width: 29%;
    }
    .skill-sec {
        margin: 60px 0 0;
        padding: 30px 0;
    }
    .skill-sec h2{
        color: #fff;
    }
    .cont{
        padding: 20px;
    }
}
