body{background:#fbf3f3;}
.cat,header{padding-top:10px}.care,.offer{font-weight:700}logo,ul.tab li{float:left}.cat,.copy-bg,.copy-bg-cont,ul.tab li a{text-align:center}logo img{padding-left:50px;width:170px}a:focus,a:hover{color:#ff3c5f;text-decoration:none!important}.cat img{margin:auto}.care,footer{margin-top:15px}.care{font-size:18px;color:#ff3a5e}.bg-nav{background-color:#ff3a5e}.bg-nav a{color:#fff!important}.dropdown-menu{border:0!important}.dropdown-menu a:hover{color:#fff!important; background-color:#ff5775 !important}.cont-shadow,.shadow{box-shadow:0 0 5px #d2dfec}.offer{position:absolute;border-radius:50%;background:#fff;color:#ff3a5e;line-height:30px;padding:5px;box-shadow:0 0 3px #ff3a5e;top:5px}footer,footer a{color:#fff}footer{background-color:#ff3a5e}footer a:hover{color:#f5cccc}.f-link ul li{display:inline;text-decoration:none;margin:10px}.f-link h4{border-bottom:1px solid #fff;line-height:40px}.copy{font-size:25px}.copy a:hover{color:#CCC!important}.copy-bg{background:#ff1e47;color:#fff}.copy-bg-cont{padding:10px}.copy-bg-cont a{color:#fff}.tab-cont li{display:inline-block;list-style:none}.dropdown:hover>.dropdown-menu{display:block}ul.tab{margin:0;padding:0;overflow:hidden}ul.tab li{list-style:none}ul.tab li a{display:inline-block;padding:5px 12px;text-decoration:none;transition:.3s;font-size:17px}ul.tab li a:hover{background-color:#d42544;color:#fff}.active,ul.tab li a:focus{background-color:#FF3C5F;color:#fff}
.cart{float:left; margin-left:50px; text-align:right;margin-top: 10px;}.deal{padding-left:50px; float:left;}
.nav-m li{ margin:0 15px 0 15px;}.nav-m li:hover{ background-color:#ff5775;}
.sec-cat{margin-top: 3rem;}
.cat-2{ margin:auto; border:1px solid #d8d8d8; padding:2px;  -webkit-box-flex: 0; -ms-flex: 0 0 23%; flex: 0 0 23%;max-width: 23%; background:#fff;}.cat-2 img{float:left;}.cat-2 div{vertical-align: middle;margin: 7% 0 0 2%;float: left;font-weight: bold;}.cat-2:hover{box-shadow:0 0 8px #d2dfec;}


.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #808080;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  text-shadow: 0 1px 0 #a2a2a2;
  float: right;
}
.star-ratings-css::before {
  content: '★★★★★';
  opacity: 1;
}

[data="0"]::after { width: 0%; }
[data="1"]::after { width: 22%; }
[data="1.5"]::after { width: 33%; }
[data="2"]::after { width: 42%; }
[data="2.5"]::after { width: 53%; }
[data="3"]::after { width: 62%; }
[data="3.5"]::after { width: 73%; }
[data="4"]::after { width: 82%; }
[data="4.5"]::after { width: 94%; }
[data="5"]::after { width: 102%; }

.star-ratings-css::after {
  color: #F39C12;
  content: '★★★★★';
  text-shadow: 0 1px 0 #ab5414;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top:0;
  width: attr(rating);
  overflow: hidden;
}

@media screen and (min-width: 859px) and (max-width: 1250px) {
.care{max-width:44%}
	.deal{padding-left: 0;float: right;padding-top: 5px;;} .cart{margin-left: 0;max-width: 44%; float:right}
	.cat-2{ -webkit-box-flex: 0; -ms-flex: 0 0 22%; flex: 0 0 22%;max-width: 22%;}
}

@media screen and (min-width: 761px) and (max-width: 860px) {
	.care{max-width:44%}
	.deal{padding-left: 0;float: right;padding-top: 5px;;} .cart{margin-left: 0;max-width: 44%;}
	.carousel img{height:130px;}.carousel-caption .btn{width:75px; font-size:12px; padding:0; line-height:25px}.cat{width:33%;}
	.cat-2{ -webkit-box-flex: 0; -ms-flex: 0 0 22%; flex: 0 0 22%;max-width: 22%;}
}
@media screen and (min-width: 641px) and (max-width: 760px) {
logo img {padding-left: 0;width: 125px;position: absolute;}.care {font-size: 15px;position: inherit;margin-left: 300px;width: 50%; margin-top:0;}
	.deal{padding-left: 8px;float: right;padding-top: 5px;;} .cart{margin-left: 0;width: 50%;float: right;}
	.carousel img{height:130px;}.carousel-caption .btn{width:75px; font-size:12px; padding:0; line-height:25px}.cat{width:49%;}
	.cat-2{ -webkit-box-flex: 0; -ms-flex: 0 0 22%; flex: 0 0 22%;max-width: 22%;}
}
@media screen and (min-width: 441px) and (max-width: 640px) {
body{overflow-x: hidden;}
	logo img{padding-left: 0;width: 75px;}.care {font-size: 15px;position: absolute;margin-left: 80px;;}
	.deal{position:absolute;margin-left: 306px;} .cart{margin-left: 0;}
	.carousel img{height:130px;}.carousel-caption .btn{width:75px; font-size:12px; padding:0; line-height:25px}.cat{width:49%;}
	.cat-2{  -webkit-box-flex: 0; -ms-flex: 0 0 95%; flex: 0 0 95%;max-width: 95%;}
}
@media screen and (min-width: 300px) and (max-width: 440px) {
	body{overflow-x: hidden;}
	logo img{padding-left: 0;width: 75px;}.care {font-size: 15px;margin-top: 0;}
	.deal{position:absolute;width:auto; padding-left: 210px;} .cart{margin-left: 0;}
	.carousel img{height:130px;}.carousel-caption .btn{width:75px; font-size:12px; padding:0; line-height:25px}.cat{width:49%;}
	.cat-2{  -webkit-box-flex: 0; -ms-flex: 0 0 95%; flex: 0 0 95%;max-width: 95%;}
}

/* Mobile Code */
.deck-hide{display: none;}
@media screen and (max-width: 640px){
  header{display: none;}
  .mt-4{margin-top: 0 !important;}
  .hide{display: none;}
  .navbar-brand img{height: 45px;}
  .navbar-light .navbar-toggler{border: 0;}
  .mob-cart{padding: 0 5px; margin-left: auto;}
  .mob-cart i{font-size: 30px; padding: 0 5px;}
  .mob-cart a i{color: #808080;}
  .top-cat div img{width: 35px;}
  .top-cat{padding: 7px 0; background-color: #fff;}
  .top-cat div{text-align: center;border-left: 1px solid #eae7e5;}
  .top-cat div:first-child{border: none;}
  .top-cat div p{margin: 0;color: #808080;}
  nav{border-bottom: 2px solid #808080;}
  .sticky-top{box-shadow: 0 0 2px #6c757d;}
  .active, .bg-nav{background: transparent;}
  .navbar-nav{background-color: #ff3a5e;} 
  .cat-2{padding: 10px; border-radius: 10px;}
  .deck-hide{display: block;} 
}

