@import url('https://fonts.googleapis.com/css?family=Arizonia');
body{margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: #252525;
    scroll-behavior: smooth;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 30px;
}
.logo img{height: 60px; margin: 9px auto;}
.bg-nav{background-color:#ff3a5e}.bg-nav a{color:#fff!important}
nav{height: 40px}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown-menu{margin: 0; border-radius: 0; transition: all .5s;}
.shortBy ul li{
  list-style: none;display: inline-block;font-weight: bold;font-size: 12px;
}
.shortBy ul li a{
  text-decoration: none;color: #000;padding: 2px 7px; transition: all .5s;
}
.shortBy ul li a:hover, a:active{
  background-color: #ff3a5e;border-radius: 10px;color: #fff;
}
.topRight{position: absolute;z-index: 1;top:5px;right: 5px;border-radius: 50%; background-color:#ff3a5e;line-height: 37px; padding: 5px;
color: #fff; font-weight: bold;}
.product .card .card-body{overflow: hidden;padding: .25rem;}
.product .card{border: 0; box-shadow: 0 0 2px gray;}
.product .card .card-footer{background-color: transparent; border: 0;}
.product .card .card-body img{transition: all 1s;}
.product .card .card-body img:hover{transform: scale(1.2,1.2);}
.product .card p span{font-weight: bold;color: #ff3a5e; text-decoration: line-through;}
.product .card .card-footer a{color:#040505;}
.product .card .card-footer a:hover{text-decoration: none;}
.bgSec{box-shadow: 0 0 5px gray}
footer{background-color:#ff3a5e;color: #fff;}footer a{color:#fff;}footer a:hover{color:#fff;text-decoration:underline;}
.pay{font-size: 14px;}
.pay span {
  text-transform: uppercase;
  color: #666666;font-weight: bold;
  margin: 0;display: block}
.f-link ul li {
  display: inline;
  text-decoration: none;
  margin: 10px;
}
.f-link h4 {
  border-bottom: 1px solid #fff;
  line-height: 40px;
}
.social i{margin: 5px;
  font-size: 22px; transition: all .5s;}
.social i:hover{transform: scale(1.2,1.2);}
.copy-bg {
  background: #ff1e47;
  color: #fff;
}
.copy-bg-cont {
  padding: 10px;
}
.copy-bg-cont a {
  color: #fff;
}
/* Mobile Code */
.deck-hide{display: none;}
@media screen and (max-width: 640px){
  header{display: none;}
  .mt-4{margin-top: 0 !important;}
  .hide{display: none;}
  .navbar-brand img{height: 45px;}
  .navbar-light .navbar-toggler{border: 0;}
  .mob-cart{padding: 0 5px; margin-left: auto;}
  .mob-cart i{font-size: 30px; padding: 0 5px;}
  .mob-cart a i{color: #808080;}
  .top-cat div img{width: 35px;}
  .top-cat{padding: 7px 0; background-color: #fff;}
  .top-cat div{text-align: center;border-left: 1px solid #eae7e5;}
  .top-cat div:first-child{border: none;}
  .top-cat div p{margin: 0;color: #808080;}
  nav{border-bottom: 2px solid #808080; height: auto;}
  .stickyTop{position:-webkit-sticky;position:sticky;top:0;z-index:1020;box-shadow: 0 0 2px #6c757d;}
  .active, .bg-nav{background: transparent;}
  .navbar-nav{background-color: #ff3a5e;} 
  .cat-2{padding: 10px; border-radius: 10px;}
  .deck-hide{display: block;} 
  .filter a{border-radius: 0;}
  .filter{position: fixed; bottom: 0;z-index: 1;}
  .navbar{padding:0;}
  .m-auto{padding-left: 10px;}
}
